# Ignore node_modules folder and dependency artifacts
node_modules
package-lock.json

# Ignore version control files and directories
.git
.gitignore

# Ignore Docker-specific files
Dockerfile
docker-compose.yml

# Ignore test files
__tests__
eslint.config.js
vitest.config.js

# Ignore temporary files and editor-specific files
.vscode

# Ignore devops files
cron
balancing
